.user-selector {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.selected-tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.tag {
  background: #6d5dfc;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
}

.tag button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.user-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #2a2a50;
  color: white;
  font-size: 1rem;
}

.dropdown {
  position: absolute;
  top: 78px;
  background: #1d1d3b;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  max-height: 250px; /* suficiente para ~7 items */
  overflow-y: auto; /* scroll interno */
  z-index: 10;
  padding-bottom: 6px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 1px solid #2c2c54;
  color: white;
}

.dropdown-item:hover {
  background: #4b4bb8;
}

.email {
  font-size: 0.75rem;
  opacity: 0.8;
}

.no-results {
  color: #aaa;
  padding: 10px;
  text-align: center;
}
