#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.4s ease;
}
