#root {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  /* o flex pero sin centrar */
}


body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  transition: background 0.25s ease, color 0.25s ease;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}