/* Base: si NO hay data-theme, usamos light por defecto */
:root {
  --bg: #ffffff;
  --bgLogContainerFisrt: #dadada;
  --text: #111111;
  --primary: #3b82f6;
}

/* ✅ Tema oscuro manual */
:root[data-theme="dark"] {
  --bgLogContainerFisrt: #14215c;
  --bg: #494949;
  --text: #ffffff;
  --primary: #60a5fa;
}

/* Tema claro manual (opcional, pero útil) */
:root[data-theme="light"] {
  --bg: #ffffff;
  --text: #111111;
  --primary: #3b82f6;
}

/* Automático por sistema SOLO si NO has seteado data-theme */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --bg: #0f1115;
    --text: #f5f5f7;
    --primary: #60a5fa;
  }
}

:root[data-page="login"] {
  --bg: #1c2e63;
  --text: #ffffff;
  --primary: #6b4eff;
  --bgLogContainerFisrt: #15235a;
}

:root[data-page="register"] {
  --bg: #1c2e63;
  --text: #ffffff;
  --primary: #6b4eff;
  --bgLogContainerFisrt: #15235a;
}

/* Ayuda al browser a pintar inputs/scrollbars según el tema */
html {
  color-scheme: light dark;
}
