.popup-message {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #1a1a1a;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  z-index: 1000;
  animation: slideIn 0.4s ease forwards , slideOut 0.4s ease forwards 3.6s;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.popup-message.success {
  background-color: #16a34a; /* verde */
}

.popup-message.error {
  background-color: #dc2626; /* rojo */
}

.popup-message.info {
  background-color: #2563eb; /* azul */
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}