body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

/* Contenedor */
.authBox {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  background: #15235a;
  padding: 2.5rem 3rem;
  border-radius: 14px;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.35);
  width: 350px;
  text-align: center;
}

/* Título pequeño */
.authBox p {
  margin-top: -10px;
  margin-bottom: 18px;
  color: #b0c8f8;
}

/* Inputs */
.inputLog {
  width: 90%;
  padding: 0.7rem 5%;
  margin: 0.6rem 0;
  border-radius: 8px;
  border: none;
  background: #1c2e63;
  color: white;
}
.inputLog::placeholder { color: #8ca3d4;}

.inputLog:focus {
  outline: none;
  box-shadow: 0 0 5px #6b4eff;
  caret-color: #968fff;
}

/* Botón */
button[type="submit"] {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #6b4eff, #a75aff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.8rem;
  transition: 0.25s;
}
button[type="submit"]:hover {
  transform: scale(1.03);
}

/* Switch arriba */
.topSwitch {
  position: absolute;
  top: 25px;
  right: 30px;
  color: #9fd7ff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.topSwitch:hover { text-decoration: underline; }
